.wrapper{
    text-align: center;
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(147, 209, 233);
}

.body{
    border: solid rgb(104, 86, 86);
}

.w-300{ 
    width: 300px;
    margin: 0 auto;
}
.btn-sky{
    background-color: rgba(0, 110, 255, 0.795);
    color: #fff;
}

.btn-sky:hover{
    background-color: rgba(0,110,255);
    color: #fff;
}
.w-200{
    width: 200px;
}